{% load static %}
{% comment %} {% block title %}❤️❤️❤️❤️{% endblock title %} {% endcomment %}

{% block content %}
{% block extra_css %}
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Short+Stack&amp;family=Homemade+Apple&amp;display=swap'>
<link rel="stylesheet" href="{% static 'css/final.css' %}">
{% endblock extra_css %}
<audio autoplay loop>
    <source src="{%static 'music/2.mp3'%}" type="audio/mp3">
</audio>
<title>❤️❤️❤️❤️</title>
<a href="{%url 'greeting_card'%}">
<div class="paper heart">
</div>
</a>
<div class="paper image">
    <p>White Angel</p>
        <img src="{% static 'Card_Image/1.jpeg' %}"/>
</div>

<div class="paper image">
    <p>Temple Visit</p>
    <img src="{% static 'Card_Image/2.jpg' %}" />
</div>

<div class="paper image">
    <p>Miss Universe 😍</p>
    <p>Mine Cinderella 🫠</p>
    <img src="{% static 'Card_Image/3.jpg' %}" />
</div>

<div class="paper image">
    <p>Saree mae Maal</p>
    <img src="{% static 'Card_Image/4.png' %}" />
</div>

<div class="paper image">
    <p>Hyeee Selie Queen ❤️ </p>
    <img src="{% static 'Card_Image/5.png' %}" />
</div>

<div class="paper image">
    <p>Gaining Energy From Babu</p>
    <img src="{% static 'Card_Image/6.png' %}" />
</div>

<div class="paper image">
    <p>Hyeee Pandu Mera</p>
    <img src="{% static 'Card_Image/7.png' %}" />
</div>

<div class="paper image">
    <p>Selfie Master Ji</p>
    <img src="{% static 'Card_Image/8.png' %}" />
</div>

<div class="paper image">
    <p>How can be </p>
    <p> someone so cute ❤️ </p>
    <img src="{% static 'Card_Image/9.jpg' %}" />
</div>

<div class="paper image">
    <p>Happy Beginning Of Journey</p>
    <img src="{% static 'Card_Image/10.jpg' %}" />
</div>

<div class="paper image">
    <p>Model Queen</p>
    <img src="{% static 'Card_Image/11.jpg' %}" />
</div>

<div class="paper image">
    <p>Hyeeee Hotty Girl</p>
    <img src="{% static 'Card_Image/12.jpg' %}" />
</div>

<div class="paper image">
    <p>Mummy k Saath Pic</p>
    <img src="{% static 'Card_Image/13.jpg' %}" />
</div>

<div class="paper image">
    <p>Made By Rahul</p>
    <img src="{% static 'Card_Image/14.jpg' %}" />
</div>

<div class="paper image">
    <p>A Perfect Gift of God </p>
    <img src="{% static 'Card_Image/15.jpg' %}" />
</div>





<div class="paper red">
    <p class="p1">You Turned 20 year but still look baby girl</p>
</div>

<div class="paper">
    <p class="p1">Happy Birthday Meri Jaan</p>
    <p class="p1">From Yours to Mine 🎂🎂🎂🥳 <span style="color: red !important;">❤️</span></p>
</div>

<div class="paper">
    <p class="p1">Drag With Ur Hand Babu</p>
</div>

<script src="{%static 'js/final.js'%}"></script>

{% endblock content %}