{% extends "base.html" %}
{% load static %}
{% block title %}Login to the World Baby{% endblock title %}

{% block content %}
<div class="mt-4 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card container shadow text-center col-md-4">
        <h1 class="pt-2">Login to the World Baby</h1>
        <hr>
        <form action="" method="POST" class="px-3">
            {% csrf_token %}
            <!-- Username Input -->
            <input type="text" class="form-control my-3" name="username" placeholder="UserName" value="{{ username|default:'' }}">
            
            <!-- Password Input -->
            <input type="password" class="form-control my-3" name="password" placeholder="Password">
            
            <!-- Submit Button -->
            <input type="submit" class="btn-lg btn-outline-primary my-3">
        </form>
    </div>
</div>
{% endblock content %}
